*{
     padding: 0;
     margin: 0;
     
}

.container
{
     width: 100%;
     height: 700px;
     background: linear-gradient(to bottom, #3bc3f0 10%, #c16492 100%);
     padding: 14px;
     
}
h2{
       margin-left: 32%;
       margin-right: 29%;
       margin-top: 5%;
       font-size: 40px;
       font-family:sans-serif;
       color: #fffbfbe4;
      border-bottom: 3px solid rgb(120, 52, 126);
}
h2:hover{
     
       border-bottom: 2px solid rgb(26, 54, 54);
}
img{
       width: 4%;
       border-radius: 10%;
       /* border: 2px solid red; */
       margin-left: 27%;
       margin-bottom: -9%;
       margin-top: 6%;
     
}

.title{

     text-align: center;
     border: 3px solid red;
     background-image: url(tmpimage.jpeg);
     width: 45%;
     height: 40%;
     margin: auto;
     /* padding: 10px; */
     padding-top: 10%;
     margin-left: 28%;
     margin-top: 4%;
     border-radius: 25px;
     box-shadow: 1px 1px 1px 1px rgba(212, 88, 185, 0.974);
        
}
/* h1{
      color: #fffef9f1;
      padding: 35px;
      font-family:'Times New Roman', Times, serif;

} */

input{
      width:  28%;
      height: 10%;
      padding: 5px;
}
select{
      width: 22%;
      height: 13%;
      padding: 8px;
      font-size: 14px;
}
button{
     font-size: 18px;
      padding: 10px;
      margin-top: 30px;
      width: 100px;
      cursor: pointer;
      color: white;
      background-color: #4f6a84;
      border-radius: 8px;

}
button:hover{
      
      background-color: #0375e0 ;
}
#result{
       
       color: white;
       font-weight: bold;
       font-size: 23px;
       padding: 15px;
}
